<%= turbo_frame_tag "counter" do %>
  <div>time of GET request: <%= @pinged %></div>
  <div>time of GET request(in ms): <%= get_time = @pinged_to_mil %></div>
  <div style="color: #<%= random_color %>;"><h1>current count: <%= @counter %></h1></div>
  <div>time of response: <%= pinged %></div>
  <div>time of response(in ms): <%= 
  pinged_mil = pinged_to_mil %></div>
  <div><%= link_to "increment", increment_path(counter: @counter) %></div>
  <h2>PING:</h2>
  <div>getting the difference in milliseconds</div>
  <div>(server response - time of response) x 1000 = <%= (pinged_mil - get_time) * 1000 %>ms</div>
<% end %>